    @font-face {
        font-family: "sans";
        font-weight: 300;
        src: url('fonts/Araboto_Normal.ttf');

    }

    @font-face {
        font-family: "sans";
        font-weight: 100;
        src: url('fonts/Araboto_Thin.ttf');
    }

    @font-face {
        font-family: "sans";
        font-weight: 200;
        src: url('fonts/Araboto_Light.ttf');
    }
    @font-face {
        font-family: "sans";
        font-weight: 700;
        src: url('fonts/Araboto_Bold.ttf');
    }


