    @font-face {
        font-family: "sans";
        font-weight: 900;
        src: url('fonts/Manrope-ExtraBold.ttf');
    }

    @font-face {
        font-family: "sans";
        font-weight: 700;
        src: url('fonts/Manrope-Bold.ttf');
    }

    @font-face {
        font-family: "sans";
        font-weight: 400;
        src: url('fonts/Manrope-Regular.ttf');
    }

    @font-face {
        font-family: "sans";
        font-weight: 300;
        src: url('fonts/Manrope-Light.ttf');
    }

    @font-face {
        font-family: "serif";
        font-weight: 400;
        src: url('fonts/Oranienbaum-Regular.ttf');
    }





