:root {
    --color--black: #1c1a1a;
    --color--grey: #9b948b;
    --color--white: #ffffff;
    --color--background: #fff5e2;
    --color--menu-background: #e8ddc8;
    --color--text: #ffffff;
    --color--gold: #dcd0b8;

    /*navbar*/
    --navbar--height: 2.8rem;
    --navbar--margins: 1.5rem;
    --navlink--font-size: 1rem;
    --navlink--page-width: 8rem;
    --navlink--lang-width: 4rem;
    --transition-duration--nav-link: 0.3s;


    /*menu*/
    --menu-button--size: 5.2rem;
    --menu-button--top-mangin: 0.6rem;
    --menu-slat--opacity: 0.92;

    --menu-button--animation-duration: 1s;
    --menu-slat--animation-duration: 1s;
    --menu--animation-duration: 2s;

    --menu-link--lr-padding: 2rem;
    --menu-link--tb-padding: 0.5rem;


    /*breakpoints*/
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --breakpoint-vlg: 1980px;

    /*drawer-button*/
    --drawer-button--size: 3rem;

}