:root {
    --color--black: #232323;
    --color--grey: #9b948b;
    --color--white: #ffffff;
    --color--background: #fff5e2;
    --color--menu-background: #e8ddc8;
    --color--drawer-background: rgba(16, 16, 16, 0.5);
    --color--text: #ffffff;
    --color--gold: #dcd0b8;

    /*navbar*/
    --navbar--height: 2.8rem;
    --navbar--margins: 1.5rem;
    --navlink--font-size: 1rem;
    --navlink--page-width: 8rem;
    --navlink--lang-width: 4rem;
    --transition-duration--nav-link: 0.3s;


    /*menu*/
    --menu-button--size: 5.2rem;
    --menu-button--top-mangin: 0.6rem;
    --menu-slat--opacity: 0.92;

    --menu-button--animation-duration: 1s;
    --menu-slat--animation-duration: 1s;
    --menu--animation-duration: 2s;

    --menu-link--lr-padding: 2rem;
    --menu-link--tb-padding: 0.5rem;


    /*breakpoints*/
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1200px;
    --breakpoint-vlg: 1980px;

    /*about-drawer-button*/
    --about-drawer-button--size: 3rem;

    /*Footer*/
    --footer--height: 5rem;

    /*Project Drawer*/
    --project-drawer--max-height: 100vh;
    --project-drawer--tape-height: 4.5rem;
    --project-drawer--panel-radius: 1.5rem;
    --project-drawer--panel-margin: 1rem;
    --project-drawer--close-size: 3rem;

}