.about-paragraph-p{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 40px;
    font-family: "sans";
    font-weight: 200;
    font-size: 1.4rem;
    white-space: pre-line;
    line-height: 1.8;
}

@media (width < 1400px) {
    .about-paragraph-p{
        font-size: 1rem;
    }
}

@media (width < 1024px) {
    .about-paragraph-p{
        font-size: 1.2rem;
    }
}

@media (width < 768px) {
    .about-paragraph-p{
        font-size: 1rem;
    }
}