.about-paragraph-p {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 30px;
    font-family: "sans";
    font-weight: 400;
    font-size: 1.4rem;
    white-space: pre-line;
    line-height: 1.4;
}

.about-paragraph strong {
    font-weight: 600;
    color: var(--color--grey);
}

.about-paragrapht-p li {
    list-style: inside;
    margin-bottom: 0.5rem;
    text-indent: 0px;
}

.about-paragraph-p ul {
    margin-bottom: 0.8rem;
    line-height: 1.1;

}

@media (width < 1400px) {
    .about-paragraph-p{
        font-size: 1rem;
    }
}
