.about-drawer-title-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.about-drawer-title-container > * {
    grid-row: 1;
    grid-column: 1;
}


.about-drawer-title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-drawer-title-content > h5 {
    font-family: "sans";
    font-weight: 200;
    font-size: 2rem;
}

.about-drawer-title-frame{
    border-bottom: 1px solid var(--color--black);
    width: 60%;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform var(--transition-duration--nav-link) ease-in-out, opacity var(--transition-duration--nav-link) ease-in-out;
}

/*About Button*/
.about-drawer-button-container {
    width: var(--about-drawer-button--size);
    height: var(--about-drawer-button--size);
    display: grid;
    transition: opacity var(--transition-duration--nav-link) ease-in-out;
}

.about-drawer-button-line {
    grid-row: 1;
    grid-column: 1;
    width: 1px;
    background-color: var(--color--black);
    transition: transform var(--transition-duration--nav-link) ease-in-out;

}

.about-drawer-button-line-center {
    transform: translateX(calc(var(--about-drawer-button--size) / 2));
}



.about-drawer-button-line-left{
    transform: translateY(calc(var(--about-drawer-button--size) / -2)) rotate(90deg) scale(1);
    transform-origin: bottom center;

}

.about-drawer-button-line-right {
    transform: translateY(calc(var(--about-drawer-button--size) / -2)) rotate(90deg) scale(1);
    transform-origin: bottom center;
}
