.about-drawer-title-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.about-drawer-title-container > * {
    grid-row: 1;
    grid-column: 1;
}


.about-drawer-title-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-drawer-title-content > h5 {
    font-family: "sans";
    font-weight: 200;
    font-size: 2rem;
}

.about-drawer-title-frame{
    border-bottom: 1px solid var(--color--black);
    width: 60%;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform var(--transition-duration--nav-link) ease-in-out, opacity var(--transition-duration--nav-link) ease-in-out;
}

.about-drawer-title-container:hover > .about-drawer-title-frame{
    transform: scale(1);
    opacity: 1;
}

.about-drawer-title-container:hover > .about-drawer-title-frame{
    transform: scale(1);
    opacity: 1;
}