.drawer-button-container {
  width: var(--drawer-button--size);
  height: var(--drawer-button--size);
  display: grid;
}

.drawer-button-line {
  grid-row: 1;
  grid-column: 1;
  width: 1px;
  background-color: var(--color--black);
    transition: transform var(--transition-duration--nav-link) ease-in-out;

}

.drawer-button-line-center {
  transform: translateX(calc(var(--drawer-button--size) / 2));
}



.drawer-button-line-left{
    transform: translateY(calc(var(--drawer-button--size) / -2)) rotate(90deg) scale(1);
    transform-origin: bottom center;

}

.drawer-button-line-right {
    transform: translateY(calc(var(--drawer-button--size) / -2)) rotate(90deg) scale(1);
    transform-origin: bottom center;
}


.drawer-button-arrow > .drawer-button-line-left {
    transform: translateX(calc(var(--drawer-button--size) / 2)) rotate(-45deg) scale(0.75);
}

.drawer-button-arrow > .drawer-button-line-right {
    transform: translateX(calc(var(--drawer-button--size) / 2)) rotate(45deg) scale(0.75)  ;
}