.intro-button-stack{
    display: grid;
    grid-template-columns:100%;
    grid-template-rows:100%;
}

.intro-button-stack:hover >*:nth-child(2){
    opacity: 1;
}

.intro-button-stack > *{
    grid-row: 1;
    grid-column: 1;
    pointer-events: none;
}

.intro-button-label{
    font-family: "sans";
    font-weight: 400;
    font-size: 1.3rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    transition: opacity var(--transition-duration--nav-link) ease-in-out;
}

.intro-button-idle{
    border: 1px solid var(--color--black);
    color: var(--color--black);
}

.intro-button-hover{
    color: var(--color--white);
    background-color: var(--color--black);
    opacity: 0;
}

.intro-button-selected{
    color: var(--color--white);
    background-color: var(--color--grey);
}