.project-carousel-image-container {
    z-index: 50;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    overflow: hidden;
    aspect-ratio: 3/2;
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;

}

.project-carousel-image-container >* {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
}

.project-carousel-image-container >img {

}

.project-carousel-image-container >div {
    background-color: var(--color--black);
}