.sashu-logo-container{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.sashu-logo__ahu{
    fill:var(--color--black);
    stroke: var(--color--white);
    stroke-dasharray: 180px;
    stroke-dashoffset: 180px;
    animation: sashu_anim 8s ease forwards;
}

.sashu-logo__s1{
    fill:var(--color--black);
    stroke: var(--color--white);
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
    animation: sashu_anim 5s forwards;
}

.sashu-logo__s2{
    fill:var(--color--black);
    stroke: var(--color--white);
    stroke-dasharray: 120px;
    stroke-dashoffset: 120px;
    animation: sashu_anim 3s ease forwards;
    }


@keyframes sashu_anim
{
    100%{
        stroke-dashoffset: 0;
        fill: var(--color--white);
        stroke: transparent;
        fill-opacity: 1;
    }
}