.about-drawer-container{
    overflow: hidden;
    margin-bottom: 1.2rem;
}



.about-drawer-container > *{
    pointer-events: none;
}

.about-drawer-container:hover .about-drawer-button-line-left {
    transform: translateX(calc(var(--about-drawer-button--size) / 2)) rotate(-45deg) scale(0.75);
}

.about-drawer-container:hover .about-drawer-button-line-right {
    transform: translateX(calc(var(--about-drawer-button--size) / 2)) rotate(45deg) scale(0.75);
}

.about-drawer-container:hover .about-drawer-button-line-right {
    transform: translateX(calc(var(--about-drawer-button--size) / 2)) rotate(45deg) scale(0.75);
}

.about-drawer-container:hover  .about-drawer-title-frame{
    transform: scale(1);
    opacity: 1;
}
