.contact-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-title-container > h2 {
  font-family: 'sans';
  font-weight: 800;
  font-size: 6rem;
  color: var(--color--black);
  text-transform: uppercase;
  line-height: 8.5rem;
  margin: 0;
  padding: 0;
}
.contact-title-subtitle {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.contact-title-subtitle > p {
  grid-row: 1;
  grid-column: 1;
  font-family: 'sans';
  font-weight: 300;
  font-size: 3rem;
  color: var(--color--grey);

    transform: translateY(-1.5rem);
    transform-origin: left bottom;
    width: 100%;
}

.contact-title-subtitle > p:nth-child(1) {
    opacity: 0;
    animation: contact-title-anim 5s forwards;
    animation-delay: 0ms;
}

.contact-title-subtitle > p:nth-child(2) {
    opacity: 0;
    animation: contact-title-anim 5s forwards;
    animation-delay: 1.8s;
}

.contact-title-subtitle > p:nth-child(3) {
    opacity: 0;
    animation: contact-title-anim-final 5s forwards;
    animation-delay: 3.6s;
}

@keyframes contact-title-anim {
  0% {
    opacity: 0;
    transform: translateY(2rem) scale(2);

  }

  10% {
    opacity: 1;
      transform: translateY(-1.5rem) scale(1);
  }

  98% {
    opacity: 0;
  }
}


@keyframes contact-title-anim-final {
    0% {
        opacity: 0;
        transform: translateY(2rem) scale(2);
    }

    10% {
        opacity: 1;
        transform: translateY(-1.5rem) scale(1);
    }

    100% {
        opacity: 1;
    }

}

@media (width < 768px) {
    .contact-title-container > h2 {
        font-size: 4.5rem;
    }

    .contact-title-subtitle > p {

        transform: translateY(-2rem);

    }
}


@media (width < 680px) {
    .contact-title-container > h2 {
        font-size: 4rem;
    }
}

@media (width < 480px) {
    .contact-title-container > h2 {
        font-size: 3rem;
    }

    .contact-title-subtitle > p {
        transform: translateY(-3rem);
    }
}


