.menu-panel-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*backdrop-filter: blur(5px);*/
    display: none;
    z-index: 20;

}

.menu-panel-stack{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}

.menu-panel-stack > * {
    grid-row: 1;
    grid-column: 1;
}

.menu-panel-background{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.menu-panel-slat{
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(0);
    background-color: var( --color--menu-background);
    border-radius: 2rem;
}

.menu-panel-background > div:nth-child(1){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.9) ease forwards calc(var(--menu-slat--animation-duration) * 0.1);
}

.menu-panel-background > div:nth-child(2){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.8) ease forwards calc(var(--menu-slat--animation-duration) * 0.2);
}
.menu-panel-background > div:nth-child(3){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.7) ease forwards calc(var(--menu-slat--animation-duration) * 0.3);
}

.menu-panel-background > div:nth-child(4){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.6) ease forwards calc(var(--menu-slat--animation-duration) * 0.4);
}

.menu-panel-background > div:nth-child(5){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.5) ease forwards calc(var(--menu-slat--animation-duration) * 0.5);
}
.menu-panel-background > div:nth-child(6){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.4) ease forwards calc(var(--menu-slat--animation-duration) * 0.6);
}
.menu-panel-background > div:nth-child(7){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.3) ease forwards calc(var(--menu-slat--animation-duration) * 0.7);
}

.menu-panel-background > div:nth-child(8){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.4) ease forwards calc(var(--menu-slat--animation-duration) * 0.6);
}

.menu-panel-background > div:nth-child(9){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.5) ease forwards calc(var(--menu-slat--animation-duration) * 0.5);

}
.menu-panel-background > div:nth-child(10){
    animation: slat_animation calc(var(--menu-slat--animation-duration) * 0.6) ease forwards calc(var(--menu-slat--animation-duration) * 0.4);
}


@keyframes slat_animation{

    70%{
        opacity: var(--menu-slat--opacity);
        transform: scaleY(0.6);

    }

    100%{
        opacity: var(--menu-slat--opacity);
        transform: scaleX(1) scaleY(1.2);

    }
}


.menu-panel-content{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity var(--transition-duration--nav-link) ease-in-out;

}

.menu-panel-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-panel-languages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--menu-link--tb-padding)  var(--menu-link--lr-padding);
}
