/*Layers*/

.project-drawer-layers {
  z-index: 500;
}

.project-drawer-fix {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.project-drawer-stack {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}

.project-drawer-stack > * {
  grid-column: 1/1;
  grid-row: 1/1;
  height: 100%;
  width: 100%;
}

.project-drawer-background {
  background-color: var(--color--drawer-background);
}

.project-drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;
}

.project-drawer-container-stack {
  max-width: 1000px;
  width: 100%;
  display: block;
  background-color: var(--color--black);
  box-shadow: var(--color--black) 0 2px 15px 0;
  max-height: 95vh;
  padding: 0 2rem 3rem 2rem;
  transform: translateY(5em);
  overflow: hidden;

}


/*Content*/

.project-drawer-content {
  pointer-events: auto;
  width: 100%;
}

.project-drawer-content-font {
  border: 2px solid var(--color--white);
  border-radius: var(--project-drawer--panel-radius);
  padding-top: 2rem;
  width: 100%;
  display: block;
  background-color: var(--color--background);
}


.project-drawer-content-top {
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.project-drawer-content-bottom {
  display: block;
  padding-bottom: 2rem;
  overflow-y: hidden;
}

.project-drawer-description-spot {
  text-align: justify;
  text-justify: inter-word;
  font-family: 'sans';
  font-weight: 200;
  font-size: 1.1rem;
  line-height: 1.3;
  max-width: 1700px;
  overflow-y:scroll;
  max-height: 30vh;
  padding: 0 2.5rem 2rem 2.5rem;
}

.project-drawer-description-spot p {
  margin-bottom: 1.2rem;
}

.project-drawer-description-spot a {
  color: var(--color--primary);
  font-weight: 600;
}

.project-drawer-description-spot strong {
  font-weight: 600;
}

.project-drawer-description-spot li {
  list-style: inside;
  margin-bottom: 0.5rem;
}

.project-drawer-description-spot ul {
  margin-bottom: 1.8rem;
}


@media (width < 768px) {
  .project-drawer-container-stack {
    padding: 0;
  }

  .project-drawer-content-font {
    border: 2px solid var(--color--white);
    border-radius: var(--project-drawer--panel-radius)  var(--project-drawer--panel-radius) 0 0;
    padding-top: 1.5rem;
  }

  .project-drawer-description-spot {
    padding: 0 1.5rem;
  }
}
