.project-carousel-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 25rem;
}

.project-carousel-images{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.project-carousel-stack{
    height: 100%;
    aspect-ratio: 3/2;
    border-radius: 0.8rem;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

}

.project-carousel-img{
    z-index: 50;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    overflow: hidden;
    aspect-ratio: 3/2;
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project-carousel-stack > img:nth-child(1) {
    transform: translateX(-25%) perspective(80rem) rotateY(70deg)  scale(0.8);
    transform-origin: center left;
    z-index: 10;
    opacity: 0.6;

}

.project-carousel-stack > img:nth-child(2) {
    transform: translateX(-15%) perspective(80rem) rotateY(70deg) scale(1);
    transform-origin: center left;
    opacity: 0.9;
    z-index: 20;

}

.project-carousel-stack > img:nth-child(4) {
    transform:  translateX(15%)  perspective(80rem) rotateY(-70deg) scale(1);
    transform-origin: center right;
    opacity: 0.9;
    z-index: 20;

}

.project-carousel-stack > img:nth-child(5) {
    transform: translateX(25%) perspective(80rem) rotateY(-70deg)  scale(0.8);
    transform-origin: center right;
    opacity: 0.6;
    z-index: 10;

}

@media (width < 1400px) {
    .project-carousel-container{
        height: 18rem;
    }
}

@media (width < 1200px) {
    .project-carousel-container{
        height: 14rem;
    }
}

@media (width < 960px) {
    .project-carousel-container{

        height: 14rem;
    }
}


@media (width < 768px) {
    .project-carousel-container{
        height: 12rem;
    }
}

@media (width < 480px) {
    .project-carousel-container{
        height: 12rem;
    }
}

/*
.project-carousel-left-arrow{
    aspect-ratio: 3/2;

}

.project-carousel-left-arrow > img{
    height: 80%;
    /transform: perspective(1) scaleZ(1) rotateY(0deg);
    transform: perspective(40rem) scaleZ(0.5) rotateY(80deg);
}
*/