.project-carousel-container{
    width: 100%;
    max-width: 65vw;
    max-height: 32vh;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    justify-content: center;
    pointer-events: none;
}

.project-carousel-container > *{
    grid-row: 1;
    grid-column: 1;
}

.project-carousel-images{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.project-carousel-stack{
    height: 100%;
    aspect-ratio: 3/2;
    border-radius: 0.8rem;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

}

.project-carousel-buttons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.project-carousel-buttons > *{
    height: 100%;
    width: 50%;
    background-color: transparent;
    pointer-events: auto;
}

.project-carousel-buttons> div:first-child{
transform:  translateX(-20%);
}

.project-carousel-buttons> div:last-child{
    transform:  translateX(20%);
}



@keyframes leftImage_anim
{
    0%{
        opacity: 0;
        transform: translateX(-15%) perspective(80rem) rotateY(70deg) scale(1);
    }
    70%{
        opacity: 1;
        transform: translateX(-10%) perspective(80rem) rotateY(0deg) scale(1.2);
    }
    100%{
        transform: translateX(-5%) perspective(80rem) rotateY(0deg) scale(1);
        opacity: 0;
    }
}

@keyframes rightImage_anim
{
    0%{
        opacity: 0;
        transform: translateX(15%) perspective(80rem) rotateY(70deg) scale(1);
    }
    70%{
        opacity: 1;
        transform: translateX(10%) perspective(80rem) rotateY(0deg) scale(1.2);
    }
    100%{
        transform: translateX(5%) perspective(80rem) rotateY(0deg) scale(1);
        opacity: 0;
    }
}
