<div class="about-drawer-container" id="about-drawer" index={{index}}>
  @!component('components/atoms/about-drawer-title.edge', {title})
  @!component('components/atoms/about-drawer-paragraph.edge', {paragraph})
</div>
