<div class="about-drawer-container">
  @!component('components/atoms/about-drawer-title.edge', {title: i18n.t("about.drawer-1-title")})
  @!component('components/atoms/about-drawer-paragraph.edge', {title: i18n.t("about.drawer-1-title"), paragraph: i18n.t("about.drawer-1-paragraph")})
</div>
