<div class="contact-title-container">
  <h2>
    {{i18n.t("contact.lets-talk")}}
  </h2>
  <div class="contact-title-subtitle">
    <p>
         {{i18n.t("contact.about-1")}}
    </p>
    <p>
      {{i18n.t("contact.about-2")}}
    </p>
    <p>
      {{i18n.t("contact.about-3")}}
    </p>
  </div>
</div>
