<div class="menu-panel-container" id="menu-panel">
    <div class="menu-panel-background">
       <div class="menu-panel-slat"></div>
        <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>
       <div class="menu-panel-slat"></div>

     </div>

    <div class="menu-panel-links">
        </div>
    </div>
