<div class="menu-circle-container" id="menu-button">
  <div class="menu-circle-hover">
  </div>

  <div class="menu-circle-overlay">
  </div>


  <div class="menu-circle-logo menu-circle-sashu" id="menu-button-logo">
    @!component('components/atoms/sashu-logo.edge')
  </div>

  <div class="menu-circle-logo menu-circle-close" id="menu-button-close">
    @!component('components/atoms/close-logo.edge')
  </div>
</div>
