<div class="project-carousel-container">
    <div class="project-carousel-images">
  <div class="project-carousel-stack">
    <img class="project-carousel-img" src="/images/retail/nany-nails-h.jpg" />
    <img class="project-carousel-img" src="/images/retail/nany-nails-h.jpg" />
    <img class="project-carousel-img" src="/images/retail/nany-nails-h.jpg" />
        <img class="project-carousel-img" src="/images/retail/nany-nails-h.jpg" />
        <img class="project-carousel-img" src="/images/retail/nany-nails-h.jpg" />
  </div>
  </div>


   <div class="project-carousel-buttons"></div>

</div>
