<div class="project-drawer-fix project-drawer-stack project-drawer-layers">
  <div class="project-drawer-background"  id="project-drawer-close">
  </div>

  <div class="project-drawer-container project-drawer-fix">
    <div class="project-drawer-container-stack project-drawer__first-layer">
      @!component('components/atoms/project-drawer-title.edge', { title: "Mitsubishi Motors", subtitle: "Aménagement des dealers - 2018" })


      <div class="project-drawer-content project-drawer__second-layer">
      <div class="project-drawer-content-font ">
        <div class="project-drawer-content-top">
              @!component('components/molecules/project-carousel.edge', { project })
              @!component('components/atoms/project-drawer-video.edge')
        </div>

        <div class="project-drawer-content-bottom">
          <div class="project-drawer-description-spot" id="description-spot">
            Ukázka jednotné vizuální identity brandu v praxi. Pro Mitsubishi jsme lokálně implementovali nový design showroomů. Když skončí online vyhledávání začíná u dealerství cesta zákazníka. Jihlava je první showroom Mitsubishi v ČR, který se může pochlubit kompletně implementovanou cestou zákazníka prodejním místem, od prvního vzdáleného vizuálního kontaktu s showroomem až po slavnostní zážitek z nákupu vozu.
          </div>
      </div>

      </div>

    </div>

  </div>

</div>
