.contact-content-container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

}

.contact-content-columns{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 8rem 5rem ;
}

.contact-content-columns > *{
    width: 50%;
}

/*Left column*/
.contact-content-left-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-content-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 30rem;
    padding-left: 10rem;

}

.contact-content-grid-title{
    grid-row: 1 ;
    grid-column: 1 / span 2;
    height: 18rem;
}

.contact-content-grid-cards{
    grid-row: 2 ;
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

/*Right column*/
.contact-content-right-column{
    display: flex;
    justify-content: flex-end;
}

.contact-content-photo-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-content-photo-container > img{
    height: 75vh;
}

.contact-content-footer{
    width: 100%;
    display: flex;
    justify-content: center;

}

.contact-content-footer-content{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-family: "sans";
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--color--black);
}

@media (width < 1920px) {
    .contact-content-grid{
        padding-left: 5rem;
    }
}

@media (width < 1800px) {
    .contact-content-grid{
        padding-left: 0;
    }
}

@media (width < 1500px) {
    .contact-content-columns{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 8rem 5rem ;
        gap: 3rem;
    }

    .contact-content-columns > *{
        width: 100%;
    }

    .contact-content-grid{
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr;
        padding-left: 0rem;
    }

    .contact-content-grid-title{
        grid-row: 1 ;
        grid-column: 1 ;
        height: 15rem;
    }

    .contact-content-grid-cards{
        grid-row: 2 ;
        grid-column: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .contact-content-right-column{
        justify-content: center;
        width: 100%;
    }

    .contact-content-photo-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-content-columns{
        padding: 8rem 3rem ;
    }

    .contact-content-photo-container > img{
        max-width: 90vw;
        height: auto;
    }

}

@media (width < 980px) {
    .contact-content-grid-cards{
        flex-direction: column;

        width: 100%;
        padding: 0 8rem;
        gap: 3rem;
    }

    .contact-content-footer-content{
        gap: 3rem;
    }

}

@media (width < 768px) {
    .contact-content-columns{
        padding: 8rem 1.5rem ;
    }

    .contact-content-grid-cards{
        padding: 0 2rem;
    }

    .contact-content-footer{
       margin-bottom: 1rem;
    }

    .contact-content-footer-content{
        flex-direction: column;
        gap: 0rem;
    }
}
