.navbar-strip{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    background-color: var(--color--background);
}