<div class="intro-video-container" id="project-drawer-video">
  <video class="intro-video-player" id="intro-video">

    @if(currentLocale == "fr")
      <source src="/video/sashu_intro-H_fr.webm" type="video/webm" />
    @elseif(currentLocale == "cz")
      <source src="/video/sashu_intro-H_cz.webm" type="video/webm" />
    @else
      <source src="/video/sashu_intro-H_en.webm" type="video/webm" />
    @end

  </video>
</div>
