<div class="intro-video-container">
    <video autoplay controls class="intro-video-player" id="intro-video">
         <source src="/video/sashu_presentation_h.webm" type="video/webm" />
     </video>
</div>