<div class="about-drawer-title-container">
  <div class="about-drawer-title-content">
    <h5>
      {{ title }}
    </h5>
    @!component('components/atoms/drawer-button.edge')
  </div>
  <div class="about-drawer-title-frame"></div>

</div>
