<a class="nav-link-wrapper nav-link" href="{{route(link)}}">
  <div class="nav-link-state nav-link__idle">
      <h5 class="nav-link-label">{{label}}</h5>
  </div>

  <div class="nav-link-state nav-link__hover">
        <h5 class="nav-link-label">{{label}}</h5>
  </div>
</a>