 <div class="project-image-container">
        <picture class="project-image-picture">
          <source  class="project-image-v-img project-image-img" media="(orientation: portrait)" srcset={{project.mainImageV}}>
          <img class="project-image-h-img  project-image-img" id="open-panel" src={{project.mainImageH}} alt={{project.mainImageAlt}}/>
        </picture>
 </div>