 <div class="project__picture project-picture" data-parallax='.8'>
        <picture>
          <source media="(orientation: portrait)" srcset="./images/living/3-v.jpg">
          <img id="open-panel" src="./images/living/3-h.jpg" alt="Obyvák s moderním krbem"
            infobox="Pokoj pro astronauty" />
        </picture>
      </div>