.project-content-container{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}


.project-content-list{
    padding: calc(var(--navbar--height) + 4.5rem) 8rem ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5rem;

}

@media  (width < 1200px) {
    .project-content-list
    {
        padding: calc(var(--navbar--height) + 3rem) 5rem ;

    }
}

@media  (width < 768px) {
    .project-content-list
    {
        padding: calc(var(--navbar--height) + 2rem) 2rem ;
    }
}