<!DOCTYPE html>

@layout.main()
    @slot('main')
            @!component('components/organisms/navbar.edge')

        <!--<h1>{{ i18n.t("messages.contact") }}</h1>-->
        <!--<img class="drawer-media__source" src="public/images/3-h.jpg" alt=""/>-->
        @!component('components/atoms/nav-link', {label : "home", link: 'home'})
    @endslot
@end